.ContactSection{
    background: url('../../assets/ContactImage.png');
    width: 80%;
    height: 130vh;
    background-size: cover;
    margin: auto;
}

.ContactBG{
    background: #61CA96;
}

.ContactForm{
    background: rgba(255, 255, 255, 0.918);
}